* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 10px 100px;
    background-color: #1F2937;
}

.logo {
    font-size: x-large;
    font-weight: 900;
    color: white;
}

nav > div {
    font-size: large;
    font-weight: 500;
    color: white;
}

nav {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}